body
{
    background-image: url(/Assets/Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:left;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height:auto;
}

.form_bg 
{
    background-color: white;
    padding:20px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: fit-content;
}

.align-center 
{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.button1
{
    background-color: #00a8f9;
    width: fit-content;
    font-size: x-large;
}
.logo1
{
    padding: 30px;
}

.form-group
{
    margin-bottom: 20px !important;
    font-size: x-large;

}
input.form-control {
    height: 50px !important;
 }
 ::-webkit-input-placeholder {
    font-size: 20px !important;
    }
    
    :-moz-placeholder {  
    font-size: 20px !important;
    }

/* @media (max-width:1024px)
{
    body{
        background-image:url(/Assets/Images/background1.jpg);
    }
}
@media (max-width:768px)
{
    body{
        background-image:url(/Assets/Images/background2.jpg);
    }
}
@media (max-width:425px)
{
    body{
        background-image:url(/Assets/Images/backgroundm.jpg);
    }
} */

@media (min-width:320px)
{
    .form_bg
    {
        background-color: white;
        padding:20px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height:fit-content;
    }
    /* .form-group
    {
        font-size: xx-large;
    }
    .form-control
    {
        padding: 20px;
    }
    input {
        display: block !important;
        padding: 0 20px !important;
    }
    
    input,
    input::placeholder {
        font: 20px/3 sans-serif !important;
    } */
}
@media (min-width:375px)
{
    .form_bg
    {
        background-color: white;
        padding:20px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        height:fit-content;
    }
}
@media (min-width:425px)
{
    .form_bg
    {
        background-color: white;
        padding:20px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 375px;
        height:fit-content;
    }
}
@media (min-width:768px)
{
    .form_bg
    {
        background-color: white;
        padding:20px;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 620px;
        height: 720px;
    }
}